<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Project PP</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="/index">Home</a>
            <a class="nav-item nav-link active" href="/forLoop">Loop</a>
            <a class="nav-item nav-link" href="/stringCreator">String</a>
            <a class="nav-item nav-link" href="/primitivies">Primitivies</a>
        </div>
    </div>
</nav>

<main role="main" class="container">

    <div class="row mt-5">
        <div class="col-md-12 mb-5">
            <div class="row mb-3">
                <button type="button" class="btn btn-dark col-md-3" id="simpleFor">Simple For</button>
                <label class="col-md-3" id="simpleForResult"></label>
                <button type="button" class="btn btn-dark col-md-3" id="simpleForEach">Simple ForEach</button>
                <label class="col-md-3" id="simpleForEachResult"></label>
            </div>
            <div class="row mb-3">
                <button type="button" class="btn btn-dark col-md-3" id="forEachFromJavaEight">ForEach from java 8
                </button>
                <label class="col-md-3" id="forEachFromJavaEightResult"></label>
                <button type="button" class="btn btn-dark col-md-3" id="simpleWhile">Simple While</button>
                <label class="col-md-3" id="simpleWhileResult"></label>
            </div>
        </div>
        <div class="col-md-12 mb-5 ">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Jaka metoda</th>
                    <th>Wynik</th>
                </tr>
                </thead>
            </table>
        </div>

    </div>

</main>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var t = $('#example').DataTable({
            scrollY: '50vh',
            scrollCollapse: true,
            paging: false
        });
        $("#simpleFor").click(function () {
            $.get("http://localhost:8080/simpleFor", function () {
                //ładowanie
            })
                .done(function (data) {
                    $("#simpleForResult").text(data.resultTime);
                    t.row.add([
                        "Simple For",
                        data.resultTime
                    ]).draw(false);
                })
                .fail(function () {
                });
        });
        $("#simpleForEach").click(function () {
            $.get("http://localhost:8080/simpleForeach", function () {
                //ładowanie
            })
                .done(function (data) {
                    $("#simpleForEachResult").text(data.resultTime);
                    t.row.add([
                        "Simple ForEach",
                        data.resultTime
                    ]).draw(false);
                })
                .fail(function () {
                });
        });
        $("#forEachFromJavaEight").click(function () {
            $.get("http://localhost:8080/foreachJavaEight", function () {
                //ładowanie
            })
                .done(function (data) {
                    $("#forEachFromJavaEightResult").text(data.resultTime);
                    t.row.add([
                        "ForEach from java 8",
                        data.resultTime
                    ]).draw(false);
                })
                .fail(function () {
                });
        });
        $("#simpleWhile").click(function () {
            $.get("http://localhost:8080/simpleWhile", function () {
                //ładowanie
            })
                .done(function (data) {
                    $("#simpleWhileResult").text(data.resultTime);
                    t.row.add([
                        "Simple While",
                        data.resultTime
                    ]).draw(false);
                })
                .fail(function () {
                });
        });
    });
</script>
</body>
</html>
