<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Project PP</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="/index">Home</a>
            <a class="nav-item nav-link " href="/forLoop">Loop</a>
            <a class="nav-item nav-link" href="/stringCreator">String</a>
            <a class="nav-item nav-link active" href="/stringReplace">String Replace</a>
            <a class="nav-item nav-link " href="/primitivies">Primitivies</a>
            <a class="nav-item nav-link" href="/formatString">String Format</a>
            <a class="nav-item nav-link" href="/arrayList">ArrayList</a>
            <a class="nav-item nav-link" href="/math">Math</a>




        </div>
    </div>
</nav>

<main role="main" class="container">

    <div class="row mt-5">
        <div class="col-md-12 mb-5">
            <div class="row mb-3">
                <button type="button" class="btn btn-dark col-md-3" id="stringReplaceRest">String Replace</button>
                <label class="col-md-3" id="stringReplaceRestResult"></label>
                <button type="button" class="btn btn-dark col-md-3" id="superStringReplace">StringUtils Replace</button>
                <label class="col-md-3" id="superStringReplaceResult"></label>
            </div>
        </div>
        <div class="col-md-12 mb-5 ">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Jaka metoda</th>
                    <th>Wynik</th>
                </tr>
                </thead>
            </table>
        </div>

    </div>

</main>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var t = $('#example').DataTable({
            scrollY: '50vh',
            scrollCollapse: true,
            paging: false
        });
        $("#stringReplaceRest").click(function () {
            $.get("http://localhost:8080/stringReplaceRest", function () {
                //ładowanie
            })
                .done(function (data) {
                    $("#stringReplaceRestResult").text(data.resultTime);
                    t.row.add([
                        "String Replace",
                        data.resultTime
                    ]).draw(false);
                })
                .fail(function () {
                });
        });
        $("#superStringReplace").click(function () {
            $.get("http://localhost:8080/superStringReplace", function () {
                //ładowanie
            })
                .done(function (data) {
                    $("#superStringReplaceResult").text(data.resultTime);
                    t.row.add([
                        "StringUtils Replace",
                        data.resultTime
                    ]).draw(false);
                })
                .fail(function () {
                });
        });

    });
</script>
</body>
</html>