<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Project PP</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="/index">Home</a>
            <a class="nav-item nav-link " href="/forLoop">Loop</a>
            <a class="nav-item nav-link active" href="/stringCreator">String</a>
            <a class="nav-item nav-link " href="/database">Database</a>
        </div>
    </div>
</nav>

<main role="main" class="container">

    <div class="row mt-5">
        <div class="col-md-12 mb-5">
            <div class ="row mb-3">
                <button type="button" class="btn btn-dark col-md-3" id="addString">String + String</button>
                <label class="col-md-3" id="addStringResult"></label>
                <button type="button" class="btn btn-dark col-md-3" id="buildStringBuilder">StringBuilder</button>
                <label class="col-md-3" id="buildStringBuilderResult"></label>
            </div>
            <div class ="row mb-3">
                <button type="button" class="btn btn-dark col-md-3" id="addString2">String + String Multiple</button>
                <label class="col-md-3" id="addString2Result"></label>
                <button type="button" class="btn btn-dark col-md-3" id="buildStringBuilder2">StringBuilder Multiple</button>
                <label class="col-md-3" id="buildStringBuilder2Result"></label>
            </div>
            <div class ="row mb-3">
                <button type="button" class="btn btn-dark col-md-3" id="addMultipleStringsNotOneRow">String + String Multiple Not in one row</button>
                <label class="col-md-3" id="addMultipleStringsNotOneRowResult"></label>
            </div>

        </div>
        <div class="col-md-12 mb-5 ">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Jaka metoda</th>
                    <th>Wynik</th>
                </tr>
                </thead>
            </table>
        </div>

    </div>

</main>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var t = $('#example').DataTable({
            scrollY:        '50vh',
            scrollCollapse: true,
            paging:         false
        });
        $("#addString").click(function () {
            $.get("http://localhost:8080/addStrings", function () {
                //ładowanie
            })
                .done(function (data) {
                    $("#addStringResult").text(data.resultTime);
                    t.row.add( [
                        "String + String",
                        data.resultTime
                    ] ).draw( false );
                })
                .fail(function () {
                });
        });
        $("#buildStringBuilder").click(function () {
            $.get("http://localhost:8080/stringBuilder", function () {
                //ładowanie
            })
                .done(function (data) {
                    $("#buildStringBuilderResult").text(data.resultTime);
                    t.row.add( [
                        "StringBuilder",
                        data.resultTime
                    ] ).draw( false );
                })
                .fail(function () {
                });
        });
        $("#addString2").click(function () {
            $.get("http://localhost:8080/addMultipleStrings", function () {
                //ładowanie
            })
                .done(function (data) {
                    $("#addString2Result").text(data.resultTime);
                    t.row.add( [
                        "String + String Multiple",
                        data.resultTime
                    ] ).draw( false );
                })
                .fail(function () {
                });
        });
        $("#buildStringBuilder2").click(function () {
            $.get("http://localhost:8080/stringBuilderMultiple", function () {
                //ładowanie
            })
                .done(function (data) {
                    $("#buildStringBuilder2Result").text(data.resultTime);
                    t.row.add( [
                        "StringBuilder Multiple",
                        data.resultTime
                    ] ).draw( false );
                })
                .fail(function () {
                });
        });
        $("#addMultipleStringsNotOneRow").click(function () {
            $.get("http://localhost:8080/addMultipleStringsNotOneRow", function () {
                //ładowanie
            })
                .done(function (data) {
                    $("#addMultipleStringsNotOneRowResult").text(data.resultTime);
                    t.row.add( [
                        "String + String Multiple Not in one row",
                        data.resultTime
                    ] ).draw( false );
                })
                .fail(function () {
                });
        });
    });
</script>
</body>
</html>
